# ignore these files

*.o
*.lo
Program/bin
*.exe
*.dll
*.log
.*
*.gch
*.so*
*.lib
[*.lo]
*.la
*.guess
*~
main
/Default/
*.in
Makefile
Makefile.in
/autom4te.cache
/aclocal.m4
/compile
/configure
/depcomp
/install-sh
/missing
/stamp-h1
